<div class="list__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
    <h3 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ post.title | markdownify | remove: "<p>" | remove: "</p>" }}</a>
      {% else %}
        <a href="{{ post.url | relative_url }}" rel="permalink">{{ post.title | markdownify | remove: "<p>" | remove: "</p>" }}</a>
      {% endif %}
    </h3>
    
    {% if post.excerpt %}<p class="archive__item-excerpt" itemprop="description">{{ post.excerpt }}</p>{% endif %}

    <ul class="archive__item-details">
      {% if post.venue %}
        <li><i class="fas fa-book-open" aria-hidden="true"></i> **Venue:** {{ post.venue | markdownify | remove: "<p>" | remove: "</p>" }}</li>
      {% endif %}
      {% if post.date %}
        <li><i class="far fa-calendar-alt" aria-hidden="true"></i> **Date:** {{ post.date | date: "%B %d, %Y" }}</li>
      {% endif %}
      {% if post.paperurl %}
        <li><i class="fas fa-file-pdf" aria-hidden="true"></i> **<a href="{{ post.paperurl }}" target="_blank">PDF Link</a>**</li>
      {% endif %}
      {% if post.citation %}
        <li><i class="fas fa-quote-left" aria-hidden="true"></i> **Citation:** {{ post.citation | markdownify | remove: "<p>" | remove: "</p>" }}</li>
      {% endif %}
    </ul>

    {% if post.content %}
      <div class="archive__item-teaser">
        {{ post.content }}
      </div>
    {% endif %}
  </article>
</div>