---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive", style = "padding-right: 16.9491525424%; text-align: justify; font-size: 16px;">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h2 class="page__title">{{ page.title }}</h2>
    {% endunless %}
    {{ content }}
  </div>
</div>
