---
layout: default
---


{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive", style = "text-align: justify; font-size: 16px; padding-right: 16.9491525424%;", id="archiveDiv">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h2 class="page__title">{{ page.title }}</h2>
    {% endunless %}
    {{ content }}
  </div>
</div>

<script>
  function applyConditionalPadding() {
    var archiveDiv = document.getElementById('archiveDiv');
    if (window.innerWidth > 767) {
      archiveDiv.style.paddingRight = '16.9491525424%';
    } else {
      archiveDiv.style.paddingRight = '0';
    }
  }

  // Apply padding on initial load
  applyConditionalPadding();

  // Reapply padding when the window is resized
  window.onresize = applyConditionalPadding;
</script>